<%= render partial: "application/jumbotron", locals: {jumbo: 'jumbotron-user', header: "Here's what's in #{current_user.name}'s fridge"} %>
<div class="row">
  <div class="col-xs-6 col-md-6">
    <h1 align='center'>Fruit</h1>
    <%= render partial: "user_produce/user_produce", locals: {produce: @fruit} %>
  </div>
  <div class="col-xs-6 col-md-6">
    <h1 align='center'>Veggies</h1>
    <%= render partial: "user_produce/user_produce", locals: {produce: @veggies} %>
  </div>
</div>
