<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-white post panel-shadow">
      <div class="post-heading">
        <div class="pull-left image">
          <img src="" class="img-circle avatar" alt="Gravatar">
        </div>
        <div class="pull-left meta">
          <div class="title h5">
            <%= link_to comment.user.name, users_path(comment.user) %>
            commented
          </div>
          <h6 class="text-muted time"><%= ((Time.now - comment.created_at.to_time) / 1.day).to_i %> day ago</h6>
        </div>
      </div>
      <br>
      <div class="post-description">
        <p><%= comment.content %></p>
      </div>
    </div>
  </div>
</div>
