<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h1>Edit User</h1>
    <hr>
    <h3>Name <%= current_user.name %></h3>
    <h3>Email <%= current_user.email %></h3>
    <hr>

    <h2>Cancel my account</h2>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(current_user), class: "btn btn-danger", data: { confirm: "Are you sure? You cannot undo this." }, method: :delete %></p>

    <%= link_to "Back", :back %>
    <hr>
  </div>
</div>
