<h1>Friends With Produce</h1>
<ul class="users">
  <% @users.each do |user| %>
  <li>
    <% if user.image.nil? %>
      <%= gravatar_for user, size: 50 %>
    <% else %>
      <%= image_tag user.image %>
    <% end %>
    <%= user.name %>
    <% end %>
  </li>
</ul>
