<div class="row">

      <h1>
        <%= gravatar_for current_user %>
        Here's what's in <%= current_user.name %>'s Fridge
      </h1>

</div>
<div class="row">
  <div class="col-xs-12">
    <% @produce.each do |p| %>
    <% if p.produce.kind == 'fruit' %>
      <%= p.produce.name %>
      <%= p.shelf_life %> days left to eat
      <% end %>
      <% end %>
  </div>
</div>
