<% if flash.present? %>
  <div id="flash">
    <script>
      <% if flash[:success] %>
        toastr.success("<%= flash[:success] %>")
      <% end %>
      <% if flash[:info] %>
        toastr.success("<%= flash[:info] %>")
      <% end %>
      <% if flash[:notice] %>
        toastr.success("<%= flash[:notice] %>")
      <% end %>
      <% if flash[:alert] %>
        toastr.error("<%= flash[:alert] %>")
      <% end %>
    </script>
  </div>
<% end %>
