<% produce.each do |produce| %>
<div clas="row">
  <div class="col-md-6 text-center">
    <h2 align='center'><%= produce.name %></h2>
    <div class="produce-index-img text-center">
      <%= link_to image_tag(produce.image.thumb.url), produce_path(produce) %>
    </div>
    <br></br>
    <%= button_to "Add to Fridge", user_produce_index_path(produce), class: "btn btn-default" if user_signed_in? %>
  </div>
</div>
<% end %>
