<% produce.each do |produce| %>
<div clas="row">
  <div class="col-md-6 text-center produce-card">
    <h3 align='center'><%= produce.name %></h3>
    <div class="produce-index-img text-center">
      <%= link_to image_tag(produce.image.thumb.url), produce_path(produce) %>
    </div>
    <br></br>
    <%= button_to "Add to Fridge", user_produce_path(produce), remote: true, class: "btn btn-default add-to-fridge" if user_signed_in? %>
  </div>
</div>
<% end %>
