  <div class="jumbotron">
    <h1>Welcome to the Produce Organizer!</h1>
    <p>We're sick and tired of throwing out spoiled produce and we're not going to take it anymore!</p>
  </div>
  <div class="row">
    <% @produce_all.each do |produce| %>
    <div class="col-xs-6 col-lg-4">
      <h2><%= produce.name %></h2>
      <div class="produce-image">
        <%= image_tag produce.image.thumb.url %>
      </div>
    </div>
    <% end %>
  </div>
