<%= render partial: "application/jumbotron", locals: {jumbo: 'jumbotron-produce', header: @produce_jumbo} %>
<div class="container-fluid">
  <div class="col-xs-6 col-md-6">
    <h2 align='center'>Fruit</h2>
    <%= render partial: "produce/produce", locals: {produce: @fruit} %>
  </div>
  <div class="col-xs-6 col-md-6">
    <h2 align='center'>Veggies</h2>
    <%= render partial: "produce/produce", locals: {produce: @veggies} %>
  </div>
</div><br>
<h3 align="center"><%= link_to "Don't see what you want?", new_produce_path if user_signed_in?%></h3>
