@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-social";
@import "font-awesome";
/*
*= require main
*/

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding-bottom: 30px;
}

.shared-body {
  margin-top: 50px;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 8rem !important;
  text-shadow: 2px 2px white;
  color: green !important;
}

h2 {
  font-family: 'Satisfy', cursive;
  font-size: 6rem !important;
  color: green !important;
}

hr {
  border-top: 2px solid green;
}

.hr-green {
  margin-top: -30px;
}

a {
  color: green;
}

a:hover {
  color: orange;
  text-decoration: none;
}

.container-fluid {
  padding: 0px !important;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.btn-green {
  background-color: #ff7f0f;
  color: white;
  font-size: 2rem;
  padding: 10px;
  box-shadow: 5px 5px 5px grey;
}

.btn-default {
  color: green !important;
}

.btn-green:hover {
  color: green;
  background-color: #ffe500;
}

.btn-primary {
  background-color: green !important;
}

/* ----- Navbar ----- */

.navbar {
  background-color: green;
  margin-bottom: 50px;
}

.navbar-transparent {
  background: transparent;
}

.navbar-brand > img {
  height: 26px;
}

.navbar-nav > li > a {
  color: #fff;
  font-size: 1.8rem;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
  color: green;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.sign-in {
  margin-top: 100px;
}

label {
  color: white;
}

em {
  color: white;
}

.login-links {
  font-size: 2rem;
}

.login-links a {
  color: white !important;
  margin-bottom: 6px;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.jumbo-title {
  font-size: 30px;
  color: green;
  text-align: center;
  text-shadow: 1px 1px 1px white;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.3);
}

/* User show page */

.jumbotron-user .img{
  background: #000 url('https://d.fastcompany.net/multisite_files/fastcompany/imagecache/1280/poster/2013/10/3020337-poster-p-1-with-farmplicity-the-farm-to-table-movement-meets-the-21st-century.jpg') center center;
  background-size: cover;
  opacity: 0.4;
  color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top:0;left:0;
  z-index:1;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* Produce index */

.produce-img {
  height: 120px;
  padding-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.produce-index-img {
  height: 100px;
  padding-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.produce-card {
  margin-top: 10px;
  min-height: 250px;
}

/* Produce show page */

.produceBody {
  margin-top: 50px;
}

.produce-row {
  height: 600px;
}

.info {
  padding-top: 30px;
}

.btn-block + .btn-block {
  margin-top: 0px !important;
}

#produce-show-img {
  height: 100px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* Juice show page */

.jumbotron-juice .img{
  background: #000 url('http://www.fruitechnatural.com/frontend/fruitapplications/natural-juice.png') center center;
  background-size: cover;
  opacity: 0.4;
  color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top:0;left:0;
  z-index:1;
}

.jumbo-juice {
  height: 255px;
}

.juice {
  height: 200px;
}

.hr-green-juice {
  margin-top: -72px;
}
/* Produce show page */

.jumbotron-produce .img {
  background: #000 url('http://cdn.pcwallart.com/images/fruits-and-vegetables-wallpaper-2.jpg') center center;
  background-size: cover;
  opacity: 0.4;
  color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top:0;left:0;
  z-index:1;
}

.jumbotron {position:relative;}

.jumbotron .container {
  z-index:2;
  position:relative;
  z-index:2;
}

/* columns */
.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  // /* reset the text align */
  text-align: top;
  // /* inline-block space fix */
  margin-right: -4px;
  min-width: 150px;
  min-height: 200px;
  vertical-align: top !important;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 .field_with_errors {
   padding: 2px;
   background-color: red;
   display: table;
 }

/* COMMENTS BOX */

.comments {
  margin-top: 80px;
}

 .panel-shadow {
     box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
 }
 .panel-white {
   border: 1px solid #dddddd;
 }
 .panel-white  .panel-heading {
   color: #333;
   background-color: #fff;
   border-color: #ddd;
 }
 .panel-white  .panel-footer {
   background-color: #fff;
   border-color: #ddd;
 }

 .post .post-heading {
   height: 95px;
   padding: 20px 15px;
 }
 .post .post-heading .avatar {
   width: 60px;
   height: 60px;
   display: block;
   margin-right: 15px;
 }
 .post .post-heading .meta .title {
   margin-bottom: 0;
 }
 .post .post-heading .meta .title a {
   color: black;
 }
 .post .post-heading .meta .title a:hover {
   color: #aaaaaa;
 }
 .post .post-heading .meta .time {
   margin-top: 8px;
   color: #999;
 }
 .post .post-image .image {
   width: 100%;
   height: auto;
 }
 .post .post-description {
   padding: 15px;
 }
 .post .post-description p {
   font-size: 14px;
 }

 .comment-area {
   width: 100%;
 }
