<div class="jumbotron jumbotron-produce">
  <div class="img"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <% if user_signed_in? %>
          <h1 align="center">Fresh Produce</h1>
        <% else %>
          <h1 align='center'>Welcome to the Produce Organizer</h1>
          <p align='center'>We're sick and tired of throwing out spoiled produce and we're not going to take it anymore!</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
