<%= render partial: "application/jumbotron", locals: {jumbo: 'jumbotron-produce', header: "Welcome to Produce Organizer"} %>
<div class="row">
  <div class="container container-table">
    <div class="row vertical-center-row">
      <div class="text-center col-md-3 col-md-offset-4">
        <h1 align="center">
          <%= link_to "Been here before? Log In!", new_user_session_path, class: "btn btn-block btn-outline" %>
          <%= link_to "New User? Sign up here!", new_user_registration_path, class: "btn btn-block btn-primary" %>
          <a class="btn btn-block btn-social"  href="<%= user_facebook_omniauth_authorize_path %>">
              <span class="fa fa-facebook"></span>Sign in with Facebook
          </a>
        </h1>
      </div>
    </div>
  </div>
</div>
