<div class="jumbotron">
  <h1 align='center'>Welcome to the Produce Organizer!</h1>
  <p align='center'>We're sick and tired of throwing out spoiled produce and we're not going to take it anymore!</p>
</div>
<div class="col-xs-6">

</div>
<div class="row">
  <div class="container container-table">
    <div class="row vertical-center-row">
      <div class="text-center col-md-4 col-md-offset-4">
        <h1 align="center">
          <%= link_to "Been here before? Log In!", new_user_session_path, class: "btn btn-block btn-primary" %>
          <%= link_to "New User? Sign up here!", new_user_registration_path, class: "btn btn-block btn-primary" %>
          <a class="btn btn-block btn-social btn-facebook" href="<%= user_facebook_omniauth_authorize_path %>">
              <span class="fa fa-facebook"></span>Sign in with Facebook
          </a>

        </h1>
      </div>
    </div>
  </div>
</div>
