<div class="col-md-4 col-md-offset-4">

  <h1 align="center">Edit Juice</h1>
  <%= render 'form' %>
  <br></br>
</div>
<h4 align="center"><%= link_to "I don't want to edit", juice_path(@juice) %></h4>
