<div class="jumbotron jumbotron-juice">
  <div class="img"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 align="center"><%= @juice.name %></h1>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-12">
    <h2 align="center">Ingredients</h2>
    <div class="row">
      <% @produce.each do |prod| %>
      <div class="col-xs-3 col-md-3">
        <%= prod.name %>
        <div class="img">
          <%= link_to image_tag(prod.image.thumb.url), produce_path(prod) %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!-- j.produce.first.juice_produce.first.quantity -->
